* {
  text-align: center;
}

.day {
  height: 350px;
  width: 19.5%;
  float: left;
  margin-left: 0.5%;
  background-color: blue;
}

.weekday {
  width: 100%;
  height: 20%;
  background-color: orange;
  margin-top: 5%;
  font-size: 30px;
}
.imgForWeather {
  height: 30%;
  width: 100%;
  background-color: purple;
  margin-top: 10%;
}
.weather {
  height: 30%;
  width: 100%;
  margin-top: 5%;
  background-color: rgb(0, 245, 253);
  font-size: 20px;
}
#daysEach {
  display: block;
  text-align: center;
}

header {
  height: 300px;
  background-color: blue;
  width: 100%;
  margin-bottom: 150px;
}

#title {
  background-color: pink;
  width: 90%;
  margin-left: 5%;
  height: 33.3%;
  font-size: 90px;
}
#today {
  background-color: yellow;
  width: 90%;
  margin-left: 5%;
  height: 33.3%;
  font-size: 50px;
}
#date {
  background-color: green;
  width: 90%;
  margin-left: 5%;
  height: 33.3%;
  font-size: 40px;
}
