* {
  text-align: center;
}

.day {
  height: 300px;
  width: 19.5%;
  float: left;
  margin-left: 0.5%;
  background-color: blue;
}

.weekday {
  width: 100%;
  height: 20%;
  background-color: orange;
  margin-top: 7.5%;
}
.imgForWeather {
  height: 30%;
  width: 100%;
  background-color: purple;
  margin-top: 10%;
}
.weather {
  height: 30%;
  width: 100%;
  margin-top: 10%;
  background-color: maroon;
}
#daysEach {
  display: block;
  text-align: center;
}

header {
  height: 300px;
  background-color: blue;
  width: 100%;
  margin-bottom: 20px;
}

#title {
  background-color: pink;
  width: 90%;
  margin-left: 5%;
  height: 33.3%;
}
#today {
  background-color: yellow;
  width: 90%;
  margin-left: 5%;
  height: 33.3%;
}
#date {
  background-color: green;
  width: 90%;
  margin-left: 5%;
  height: 33.3%;
}
