* {
  text-align: center;
}

.day {
  height: 450px;
  width: 19.5%;
  float: left;
  margin-left: 0.4%;
  background-color: rgb(88, 133, 255);
  border-radius: 20px;
}

.weekday {
  width: 100%;
  height: 10%;
  font-size: 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 45px;
}
.imgForWeather {
  height: 50%;
  width: auto;
}
.weather {
  height: 30%;
  width: 100%;
  font-size: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#daysEach {
  display: block;
  text-align: center;
  border-radius: 20px;
}

header {
  height: 300px;
  width: 100%;
  border-radius: 20px;
}
#searchBar {
  margin-top: 100px;
  margin-bottom: 20px;
  width: 100%;
  height: 70px;
  display: block;
  border-radius: 20px;
  text-align: center;
}
input {
  height: 30px;
  font-size: 30px;
  border-radius: 10px;
  width: 60%;
}
label {
  font-size: 50px;
}
#button {
  background-color: rgb(182, 182, 182);
  border: 2px solid black;
  display: block;
  float: right;
  margin-right: 10%;
  margin-top: 13px;
  border-radius: 30px;
  height: 40px;
  width: 200px;
  font-size: 30px;
  justify-content: center;
}
#button:hover {
  background-color: gray;
}

#title {
  width: 90%;
  margin-left: 5%;
  height: 33.3%;
  font-size: 90px;
}
#today {
  width: 90%;
  margin-left: 5%;
  height: 33.3%;
  font-size: 50px;
}
#current {
  width: 90%;
  margin-left: 5%;
  height: 33.3%;
  font-size: 40px;
  text-align: center;
}
#imgWeather {
  height: 100px;
  position: absolute;
  margin-top: 100px;
}
#weatherToday,
#windy {
  display: block;
  float: left;
  margin-left: 5%;
  background-color: rgb(177, 177, 177);
  border-radius: 20px;
  padding: 5px;
  border: 2px solid black;
}
#uvIndex,
#todayHumidity {
  display: block;
  float: right;
  margin-right: 5%;
  background-color: rgb(177, 177, 177);
  border-radius: 20px;
  padding: 5px;
  border: 2px solid black;
}
#searchHistory {
  width: 99%;
  height: 50px;
  background-color: black;
  display: block;
  float: left;
  color: white;
  margin-bottom: 50px;
  border-radius: 20px;
}
.recentSearch {
  color: black;
  display: block;
  float: left;
  margin-left: 3%;
  font-size: 30px;
  background-color: white;
  margin-top: 5px;
  border-radius: 20px;
  padding: 2.5px;
  padding-left: 10px;
  padding-right: 10px;
}
.recentSearch:hover {
  background-color: gray;
}
